In [1]:
import pandas as pd
import re
#import the needed libraries

In [2]:
df = pd.read_csv("XAUUSD.csv")
#import the file we will use.
#got it from duka.com

In [3]:
df
#see our dataframe

,Local time,Open,High,Low,Close,Volume
0,31.12.2019 23:00:00.000 GMT+0100,1516.915,1516.915,1516.915,1516.915,0.000000e+00
1,01.01.2020 23:00:00.000 GMT+0100,1518.768,1531.328,1517.115,1528.825,4.451398e+07
2,02.01.2020 23:00:00.000 GMT+0100,1528.568,1553.515,1527.848,1551.515,7.318564e+07
3,03.01.2020 23:00:00.000 GMT+0100,1551.515,1551.515,1551.515,1551.515,0.000000e+00
4,04.01.2020 23:00:00.000 GMT+0100,1551.515,1551.515,1551.515,1551.515,0.000000e+00
...,...,...,...,...,...,...
727,27.12.2021 23:00:00.000 GMT+0100,1811.068,1820.099,1804.918,1805.868,2.399352e+07
728,28.12.2021 23:00:00.000 GMT+0100,1805.568,1807.578,1789.348,1804.298,2.671015e+07
729,29.12.2021 23:00:00.000 GMT+0100,1804.028,1817.108,1796.058,1814.348,2.404454e+07
730,30.12.2021 23:00:00.000 GMT+0100,1814.395,1830.248,1814.118,1829.058,2.452293e+07
731,31.12.2021 23:00:00.000 GMT+0100,1829.058,1829.058,1829.058,1829.058,0.000000e+00

In [4]:
df = df.drop(["Open","High","Low",'Volume'],axis=1)
#drop the columns that we dont need

In [5]:
df.rename(columns = {'Local time':'time'}, inplace = True)
df.rename(columns = {'Close':'gold_price'}, inplace = True)

#rename the columns

In [6]:
def clean_gmt(x):
    return x.replace("GMT+0200","").replace("GMT+0100","").replace("23:00:00.000","")
#function to take out the GMT part of the date

In [7]:
df["time"] = df.time.apply(clean_gmt)
#apply the function

In [8]:
def cleaning_day(x):
    y = x.split('.')
    return int(y[0])
#splitting the day form the date

In [9]:
def cleaning_month(x):
    y = x.split('.')
    return int(y[1])
#splitting the month form the date

In [10]:
def cleaning_year(x):
    return int(re.findall(r'\b\d{4}\b',x)[0])
#splitting the year form the date. This one had to be done like this because it 
#would come like "yyyy.0" and not "yyyy" as expected.

In [11]:
df["day"] = df.time.apply(cleaning_day)
df["month"] = df.time.apply(cleaning_month)
df["year"] = df.time.apply(cleaning_year)
#apply all functions

In [12]:
df.drop(df[df.year > 2021].index, inplace=True)
#drop any price after 2021

In [13]:
df.drop(df[df.year < 2020].index, inplace=True)
#drop any price before 2020

In [14]:
df = df.drop(["time"],axis=1)
#drop time because we already divided it in day,month,year

In [15]:
df = df.iloc[:, [3,2,1,0]]
#organize the df columns in the order we want

In [16]:
df
#last view of our df

     year  month  day  gold_price
1    2020      1    1    1528.825
2    2020      1    2    1551.515
3    2020      1    3    1551.515
4    2020      1    4    1551.515
5    2020      1    5    1565.445
..    ...    ...  ...         ...
727  2021     12   27    1805.868
728  2021     12   28    1804.298
729  2021     12   29    1814.348
730  2021     12   30    1829.058
731  2021     12   31    1829.058

[731 rows x 4 columns]

In [17]:
df.to_csv('gold_clean.csv',encoding='utf-8-sig',index=False)
#export the cleaned df to gold_clean